{% extends 'front/master.html' %}
{% block content %}
    <!-- Categories -->
    <section class="container my-5">
        <h2 class="mb-4">Categories</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card p-3">Electronics</div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">Clothing</div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">Accessories</div>
            </div>
        </div>
    </section>

    <!-- Products -->
    <section class="container my-5">
        <h2 class="mb-4">Featured Products</h2>
        <div class="row">

            <div class="row">
                {% for item in product %}
                    <!-- Product 1 -->
                    <div class="col-md-3">
                        <div class="card product-card">
                            <a href="/detail?pro_id={{ item.id }}&title={{ item.title }}&image={{ item.image }}&price={{ item.price }}&description={{ item.description }}&category={{ item.category }}">
                                <img src="{{ item.image }}"
                                     class="card-img-top">
                            </a>
                            <div class="card-body">
                                <a href="/detail?pro_id=1" style="text-decoration: none;">
                                    <h5 class="card-title line-clamp-1">
                                        {{ item.title }}
                                    </h5>

                                </a>
                                <p>${{ item.price }}</p>
                                <button class="btn btn-primary w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        </div>
    </section>

{% endblock content %}
